@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(29, 29, 29, 0.87);
  background-color: #f9f9f9;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}